{
  "presets": [
    "@babel/preset-react", 
    ["@babel/preset-env", {
      targets: {
        node: true
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        // Makes power-assert work
        "babel-plugin-espower"
      ]
    }
  }
}
